<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::html-head('Entry Details')"></head>
<body>
<header th:replace="layout::site-header"></header>

<div class="container">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <form action="/saveWorkEntry" th:object="${workEntry}" th:method="post">
                <input type="hidden" th:if="workEntry.id"/>

                <div class="form-group">
                    <label for="customer">Customer:</label>
                    <input type="text" class="form-control" name="customer" id="customer" placeholder="Customer"/>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout::site-footer"></footer>
</body>
</html>