<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::html-head('Entry Details')"></head>
<body>
<header th:replace="layout::site-header"></header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Work entries</h1>

            <table th:unless="${#lists.isEmpty(allEntries)}" class="table table-striped table-hover">
                <thead>
                <th>Customer</th>
                <th>Project</th>
                <th>Comment</th>
                </thead>
                <tbody>
                <tr th:each="entry:${allEntries}">
                    <td>
                        <span th:unless="${#strings.isEmpty(entry.customerId)}"
                        th:text="${@customerService.findById(entry.customerId).getName()}">
                        </span>
                    </td>
                    <td>
                        <span th:unless="${#strings.isEmpty(entry.projectId)}"
                              th:text="${@projectService.findById(entry.projectId).getName()}">
                        </span>
                    </td>
                    <td th:text="${entry.comment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="layout::site-footer"></footer>
</body>
</html>