<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="html-head">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" href="../static/css/layout.css"/>

    <title>Track my time!</title>

    <meta th:include="this::head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header" id="site-header">
    <h2>Track my time</h2>

    <div sec:authorize="isAuthenticated()">
        Logged in as <span sec:authentication="name"></span>
    </div>
</header>

<section th:fragment="site-content"></section>

<footer th:fragment="site-footer">
    copyright Daniel Walldorf 2017
</footer>
</body>
</html>